@keyframes sperm-opacity {
  from {
    transform: translate3d(100px, 50px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.second-page {
  width: 100%;
  height: 100%;
  background-image: url(../../../images/bg-page-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.second-page__body {
  display: flex;
  flex-direction: column;
  padding: 136px 42px 0 67px;
  max-width: 915px;
}

.second-page__title {
  font-size: 1.93rem;
  line-height: 1.2;
  max-width: 181px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 47px;
}

.second-page__info {
  position: relative;
  display: flex;
  z-index: 2;
}

.second-page__scroll-box {
  height: 445px;
  position: relative;
  width: 20px;
}

.second-page__thumb {
  width: 20px;
  height: 104px;
  background-image: url(../../../images/scroll-thumb.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
}

.second-page__track {
  height: 100%;
  width: 4px;
  border: 1px solid black;
  background-color: black;
  border-radius: 7px;
  position: absolute;
  left: 7px;
  z-index: 4;
}

.second-page__white-box {
  width: 775px;
  height: 445px;
  background-color: white;
  border-radius: 40px;
  box-shadow: 2.723px 4.193px 116.25px 8.75px rgba(157, 185, 198, 0.39);
  padding: 31px 52px 0 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 47px;
  overflow-y: hidden;
}

.second-page__text-wrapper {
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 365px, transparent);
  height: 395px;
}

.second-page__text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-page__text {
  font-size: 1.75rem;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  margin-bottom: 50px;
}

.second-page__text:last-child {
  margin-bottom: 0;
}

.second-page__sperm-list {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 0;
}

.second-page__sperm {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.second-page__sperm_1 {
  background-image: url(../../../images/spermothos-1.svg);
  left: 366px;
  top: 98px;
  width: 1141px;
  height: 532px;
}

.second-page__sperm_1_anima {
  animation: sperm-opacity 2s 1 normal ease-in;
}

.second-page__sperm_2 {
  background-image: url(../../../images/spermothos-2.svg);
  left: 886px;
  top: 515px;
  width: 327px;
  height: 158px;
}

.second-page__sperm_2_anima {
  animation: sperm-opacity 4s 1 normal ease-in;
}

.second-page__sperm_3 {
  background-image: url(../../../images/spermothos-3.svg);
  left: 710px;
  top: 74px;
  width: 414px;
  height: 196px;
}

.second-page__sperm_3_anima {
  animation: sperm-opacity 3s 1 normal ease-in;
}


.second-page__sperm_4 {
  background-image: url(../../../images/spermothos-4.svg);
  left: 889px;
  top: 411px;
  width: 731px;
  height: 342px;
}

.second-page__sperm_4_anima {
  animation: sperm-opacity 1s 1 normal ease-in;
}


.second-page__sperm_5 {
  background-image: url(../../../images/spermothos-5.svg);
  left: 584px;
  top: 97px;
  width: 731px;
  height: 342px;
}

.second-page__sperm_5_anima {
  animation: sperm-opacity 3s 1 normal ease-in;
}